.header {
    background: rgba(255, 255, 255, 1);
    padding: 1.5rem 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1;

    a {
        text-decoration: none;
        color: inherit;
        text-transform: uppercase;
    }

    .A4_png {
        height: 45px;
    }

    .menu {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        font-family: 'Open Sans', sans-serif;
    }

    .menu-item {
        font-size: 1.2rem;
        font-weight: 100;
        margin-left: 1.5rem;
    }
}

.nav__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    list-style: none;
}

.nav__link {
    margin: .2rem;
    padding: 1rem .5rem;

    &:hover {
        background: rgb(0, 0, 0, .2)
    }
}

.menu-icon {
    position: relative;
    padding: 26px 10px;
    cursor: pointer;
    z-index: 1;
    display: none;

    &__line {
       display: block;
       position: relative;
       background: #000;
       height: 2px;
       width: 20px;
       border-radius: 4px;
       -webkit-transition: background .8s ease;
       transition: background .8s ease;
       
       &::before, &::after {
        content: '';
        position: absolute;
        height: 100%;
        width: 100%;
        border-radius: 4px;
        background: #000;
        -webkit-transition: background .8s ease;
        transition: background .8s ease;
       }
       &::before {
        -webkit-transform: translateY(-5px);
                transform: translateY(-5px);
       }
       &::after {
        -webkit-transform: translateY(5px);
                transform: translateY(5px);
       }
    }
}


.menu-btn {
    display: none;
}

.inner-wrapper--header {
    -webkit-box-align: center;
    -ms-flex-align: center;
        align-items: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
}