.footer {
    font-size: 14px;
}

.footer_top {
    align-items: end;
    border-top: 1px solid var(--border-color);
    display: grid;
    gap: 3rem;
    grid-template-columns: repeat(3, 1fr);
    justify-content: center;
    padding: 1.5rem 3rem;
}

.footer_logo {
    height: 100px;
    position: relative;
    width: 250px;
}

.corporate img {
    height: 100%;
    object-fit: contain;
    width: 100%;
}

.corporate span,
.contacts span {
    align-items: center;
    display: flex;
    margin-block-end: .75rem;
}

.icon {
    margin-inline-end: .75rem;
}

.social_link {
    color: var(--font-color);
    font-size: 2.3rem;
    text-decoration: none;
}

.copyright {
    border-top: 1px solid var(--border-color);
    padding: 1.5rem;
    text-align: center;
}