.hero {
    background-color: var(--neutral-grey);
    height: calc(110vh);
    min-height: initial;
    padding: 0;
}

.hero_inner {
    display: grid;
    grid-template-columns: 1fr;
}

.hero_content {
    align-content: center;
    display: grid;
    padding: 4.5rem 4.5rem 4.5rem 0;
    width: 55%;
}

.hero_subtitle {
    font-size: 1.1rem;
    margin-bottom: 3.5rem;
}

.hero_btn {
    justify-self: start;
}

.hero_thumbnail {
    position: relative;
}

.hero_thumbnail img {
    filter: grayscale(.85);
    object-fit: cover;
}

.effect {
    align-items: center;
    background-color: #fff;
    border-radius: 50%;
    bottom: 3rem;
    display: none;
    font-size: 2rem;
    justify-content: center;
    height: 90px;
    inset-inline-start: -45px;
    position: absolute;
    width: 90px;
    transform: rotate(-35deg);
}

.hero_floatingThumb,
.inner-wrapper {
    margin: 0 auto;

}

.hero_bottomThumb {
    grid-area: 2 / 1 / 2 / span 2;
    height: 520px;
    margin: 0 auto;
    max-width: 1440px;
    position: relative;
    width: 100%;
}

.hero_bottomThumb img {
    filter: grayscale(1);
    object-fit: cover;
}

@media all and (min-width: 768px) {

    .hero_inner {
        grid-template-columns: repeat(2, 1fr);
    }
    

    .hero_subtitle {
        font-size: 1.3rem;
    
    }

    .hero_thumbnail {
        margin: 4.5rem 0;
    }

    .hero_thumbnail,
    .hero_thumbnail img {
        display: block;
    }

    .effect {
        display: flex;
    }
}

@media (min-width: 1024px) {}

@media (min-width: 1280px) {}

@media (min-width: 1536px) {}