* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 15px;
}

body {
    color: $font-color;
    display: flex;
    flex-direction: column; 
    font-family: 'Avenir';
    font-size: 1rem;
    line-height: 1.5;  
    min-height: 100vh;
}

a {
    color: $font-color;
    text-decoration: none;
    transition: all .2s ease-in;

    &:hover {
        color: $accent-color;
    }
}

.main {
    align-items: center;
    display: flex;
    flex-grow: 1;
    justify-content: center;
    margin: 0 auto;
    padding: .75rem;
    width: 100%;
}

.logo {
    width: 100%;
}

.content {
    margin: 0 auto;
    width: 90%;
}

.contacts {
    align-items: center;
    display: flex;
    flex-direction: column;

    span {
        margin: -0.5rem 1.5rem;
        opacity: 0;
    }
}

.social {
    font-family: 'Cera Pro';
    font-size: 1.5rem;
    margin-bottom: 4rem;   
    text-align: center;
}


@media all and (min-width: 769px) {

    html {
        font-size: 16px;
    }

    .main {
        width: 95%;
    }

    .contacts {    
        flex-direction: row;
        justify-content: center;

        span {
            margin: 0 1.5rem;
            opacity: 1;
        }
    }
}

@media all and (min-width: 1024px) {
    .main {
        width: 80%;
    }
}

@media all and (min-width: 1200px) {
    .main {
        width: 75%;
    }
}