@font-face {
    font-family: "Cera Pro";
    src: url('../fonts/Cera_Pro_Bold.woff2') format('woff2'),
         url('../fonts/Cera_Pro_Bold.woff') format('woff');
}

@font-face {
    font-family: "Avenir";
    src: url('../fonts/AvenirLTStd-Book.woff2') format('woff2'),
         url('../fonts/AvenirLTStd-Book.woff') format('woff');
}