:root {
    --accent-color: #c7791a;
    --neutral-blue: #e6ebee;
    --neutral-grey: #edf1f3;

    --bg: #fefefe;
    --font-color: #243048;
    --footer-font-color: #7989aa;
    --border-color: #e5e9f1;
    --btn-color: var(--neutral-grey);
    --btn-main-color: #243048;

    --default-transition: .2s all ease-in; 

}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 14px;
}

body {
    background-color: var(--bg);
    color: var(--font-color);
    display: flex;
    flex-direction: column;
    font-size: 1rem;
    font-weight: 200;
    line-height: 1.5;
    min-height: 100vh;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Times New Roman', Times, serif;
}

h1 {
    font-size: 3rem;
    font-weight: 700;
    margin-bottom: 1.1rem;
}

ul {
    list-style: none;
}

.u-link {
    color: var(--font-color);
    font-weight: 200;
    opacity: .65;
    transition: var(--default-transition);
}

.u-link:hover {
    color: var(--accent-color);
    opacity: 1;
    text-decoration: none;
}

.inner-wrapper {
    margin: 0 auto;
    max-width: 1440px;
    width: 100%;
}

main,
.main {
    flex-grow: 1;
}   

section,
.section {
    min-height: 100vh;
    padding: 5rem 0;
}

.section__title {
    font-size: 1.8rem;
    text-transform: uppercase;
}

.section__brandings {
    min-height: initial;
}

.page {
    padding: 3rem;
}

.page__title {
    font-size: 3.2rem;
    margin-bottom: 3.5rem;
}

.btn {
    background-color: var(--btn-color);
    border: none;
    font-size: 1.1rem;
    padding: 0.8vw 1.75vw;
    text-decoration: none;
}

.btn--cta,
.btn--main {
    background-color: var(--btn-main-color);
    color: #fff;
}


@media (min-width: 768px) {
    
    html {
        font-size: 15px;
    }
}

@media (min-width: 1024px) {

}

@media (min-width: 1280px) {
    
    html {
        font-size: 16px;
    }
}

@media (min-width: 1536px) {
    h1 {
        font-size: 4rem;
    }
}
