.form {
    background-color: var(--font-color);
    color: #fff;
    display: grid;
    gap: .75rem;
    grid-template-columns: 1fr;
    padding: 3rem;
}

.txt {
    font-size: 1.1rem;
    font-weight: 300;
    margin-bottom: 1.5rem;
}

.label {
    font-size: .9rem;
    font-weight: 500;
    margin-bottom: -0.375rem;
    opacity: .75;
}

.input {
    border: 1px solid var(--border-color);
    margin-bottom: .75rem;
    padding: .75rem;
}

.btn_submit {
    background-color: #fff;
    color: var(--font-color);
    justify-self: flex-end;
    margin-top: 1rem;
}