.nav {
    display: flex;
    justify-content: space-between;
}

.nav_list {
    display: flex;
}

.nav_item {
    margin-inline-start: 1.5rem;
}

.nav_link {
    color: var(--font-color);
    font-size: 1.3rem;
    font-weight: 400;
    text-decoration: none;
}